.hidden {
    display: none;
}

.block {
    display: block;
}

.message {
    width: 100%;
    height: 3rem;
    margin: 0.5rem;
    border-radius: 10px;
    font-weight: bold;
    text-align: center;
    justify-content: center;
    align-items: center;
}